body{
    background-image: url("images/mc.jpg");
    background-position: center;
    background-size: 1855px;
    background-repeat: no-repeat;
}
.button2{
    display: inline-block;
    font-size: 28px;
    text-align: justify;
    text-decoration: blink;
    outline: none;
    color: maroon;
    background-color: chocolate;
    border: none;
    border-radius: 10px;
    box-shadow: darkgrey;
}