
<!DOCTYPE html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'welcome/style.css' %} "/>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <title>welcome page</title>

</head>
<body bgcolor="#2f4f4f" style="font-family: 'AR CENA'">
<br/>
<br>

<B><i><font size="7" color="white"> Kill Hunger.com </font></i> </B> <BR/><br>
<br>
<br>
<center> <img width="1505" height="410" src="{% static 'welcome/images/cp.png' %}" alt="image not available"/></center>

<br>
<br>
<br>
<br>
<form>
    <A href="index1">
        <center> <input type="button" class="button" value="Let's Cook"> </center>
    </A>
</form>
</body>
</html>